@import "./partials/maps";
@import "./partials/extends";
@import "./partials/header";
@import "./partials/galeria";
@import "./partials/servicios";
@import "./partials/footer";
@import "./partials/index";
@import "./partials/sobreNosotros";



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .0625rem;
}

body{
    background-color: #ffffff;
}
