.main .card .btn-card {
  position: absolute;
  left: 30%;
  bottom: 5%;
  border-bottom: solid 4px;
}

.header .navbar {
  background-color: #f5f7f8;
}
.header .navbar .nav-link {
  color: #55565b;
  font-size: large;
}
.header .navbar .nav-link:hover {
  color: #3498DB;
}
.header .navbar .nav-link:active {
  color: #3498DB;
}

.row {
  --bs-gutter-x: 0;
}

.row-encabezado {
  margin: 30px;
  text-align: center;
  justify-content: center;
}

.galeria-row img {
  padding: 20px;
}

.encabezado {
  justify-content: center;
  text-align: center;
  margin: 30px 0 50px 0;
}

.card {
  border: none;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 2em 0 2em 0;
  color: #55565b;
}

p {
  text-align: center;
  color: #55565b;
  text-align: start;
  margin: 1rem 2rem 5rem 2rem;
  font-size: 20px;
}

h3 {
  font-weight: bolder;
  text-align: center;
  margin: 0px 0 30px 0;
  color: #55565b;
}

h4 {
  font-weight: bolder;
  text-align: center;
  margin: 0px 0 30px 0;
  color: #55565b;
}

.vgr-cards .card {
  display: flex;
  flex-flow: wrap;
  flex: 100%;
  margin-bottom: 40px;
}
.vgr-cards .card:nth-child(even) .card-img-body {
  order: 2;
}
.vgr-cards .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card {
    display: block;
  }
}
.vgr-cards .card-img-body {
  flex: 1;
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) {
  .vgr-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.vgr-cards .card-img {
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1140px) {
  .vgr-cards .card-img {
    margin: 0;
    transform: none;
    width: 100%;
    height: auto;
  }
}
.vgr-cards .card-body {
  flex: 2;
  padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card-body {
    padding: 0;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #f5f7f8;
  background-color: #292727;
}
.footer .row-datos ul {
  padding-top: 20px;
  list-style: none;
}
.footer .row-datos ul li:nth-child(5) {
  margin: 0;
  border-top: 1px solid #3498DB;
}
.footer .row-redes ul {
  list-style: none;
  display: flex;
  padding: 50px 15px 0 0;
}
.footer .row-redes ul li {
  padding: 20px;
}

@media (max-width: 680px) {
  .footer .row-redes ul {
    flex-direction: column;
    padding: 20px 10px 0 0;
  }
  .footer .row-redes ul li {
    padding: 5px;
  }
}
.slider div img {
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  padding: 10px 0 10px 0;
}
.main .texto-main h1 {
  margin: 15px;
  text-align: center;
}
.main .texto-main h1 span {
  color: rgb(16, 29, 201);
}
.main .texto-main p {
  margin-left: 25px;
  margin-right: 25px;
}
.main .card {
  width: 21rem;
  height: 25rem;
  margin: 10px;
}
.main .card img {
  max-width: 25rem;
  max-height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .card .btn-card {
  background-color: rgb(27, 51, 102);
  border-color: rgb(15, 10, 44);
}
.main .card h5 {
  font-weight: bolder;
  text-align: center;
  margin: 0px 0 30px 0;
  color: #55565b;
}

.row {
  margin: 0;
  padding: 30px 0 30px 0;
}

.contenedor .text-h1 h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 2em 0 2em 0;
  color: #55565b;
}
.contenedor .text-h1 p {
  text-align: center;
  color: #55565b;
  text-align: start;
  margin: 1rem 2rem 5rem 2rem;
  font-size: 20px;
}
.contenedor p {
  text-align: center;
  color: #55565b;
  text-align: start;
  margin: 1rem 1rem 1rem 3rem;
  font-size: larger;
}
.contenedor h3 {
  font-weight: bolder;
  text-align: center;
  margin: 0px 0 30px 0;
  color: #55565b;
}
.contenedor h2 {
  font-weight: bolder;
  text-align: center;
  margin: 0px 0 30px 0;
  color: #55565b;
}
.contenedor img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contenedor .text-row {
  width: 80%;
  position: relative;
  left: 100px;
}
.contenedor .text-row p {
  margin-bottom: 3rem;
}
.contenedor .equipo-row {
  text-align: center;
  justify-content: center;
}
.contenedor .equipo-row h2 {
  padding: 20px;
}
.contenedor .equipo-row h4 {
  padding-bottom: 50px;
}
.contenedor .equipo-row .fotos-equipo img {
  height: 15em;
  width: 15em;
  border-radius: 50%;
}
.contenedor .equipo-row .fotos-equipo p {
  justify-content: center;
  text-align: center;
  margin: 20px;
}

@media (max-width: 767px) {
  p {
    font-size: smaller;
    letter-spacing: 1px;
    margin: 1rem 1rem 1rem 2rem;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.0625rem;
}

body {
  background-color: #ffffff;
}/*# sourceMappingURL=style.css.map */