.header .navbar{
    background-color:map-get($colores,backgroundHeader);

    .nav-link{
        color: map-get($colores, textColorHeader );
        font-size: large;
        &:hover{
            color: #3498DB;
        }
        &:active{
            color: #3498DB;
        }
    }     
}
