
.slider div img{
    max-height: 30rem;
    object-fit: cover;
}
.main{
    padding: 10px 0 10px 0;

    .texto-main{
        h1{
            margin: 15px;
            text-align: center;

            span{
                color: rgb(16, 29, 201);
            }
        }
        p{
            margin-left: 25px;
            margin-right: 25px;            
        }
        
    }

    .card{
        width: 21rem;
        height: 25rem;
        margin: 10px;

        img{
            max-width: 25rem;
            max-height: 11rem;
            object-fit:cover;
        }
        .btn-card{
            @extend %buttonCards;
            background-color: rgb(27, 51, 102);
            border-color: rgb(15, 10, 44);
            
        }
        
        h5{
            font-weight: bolder;
            text-align: center;
            margin: 0px 0 30px 0;
            color: #55565b;
            
        }
    }
    
}