
.slider div img{
    max-height: 30rem;
    object-fit: cover;
}
.card{
    width: 21rem;
    height: 22rem;
    margin: 10px;

    img{
        max-width: 25rem;
        max-height: 11rem;
        object-fit:cover;
    }
}
.texto-main{
    margin: 20px;
    text-align: center;

    span{
        color: rgb(13, 22, 153);
    }
}