.row > * {
    margin: 0;
    padding: 30px 0 30px 0;
}
.contenedor {
    .text-h1 {
        h1{
            font-size:40px;
            font-weight: bolder;
            text-align: center;
            margin: 2em 0 2em 0;
            color: #55565b;
        }
        p {
            text-align: center;
            color: #55565b;
            text-align: start;
            margin: 1rem 2rem 5rem 2rem;
            font-size:20px;
        }
    }
    p {
        text-align: center;
        color: #55565b;
        text-align: start;
        margin: 1rem 1rem 1rem 3rem;
        font-size: larger;
    }
    h3{
        font-weight: bolder;
        text-align: center;
        margin: 0px 0 30px 0;
        color: #55565b;
    }
    img {
        width: 100%;
        height: 90%;
        object-fit: cover;
    }
    .text-row{
        width: 80%;
        position: relative;
        left: 100px;
        

        p{
            margin-bottom: 3rem;
        }
    }

    .banner{         
        position: relative;
        background-image: url(../../IMG/CONSTRUCCIÓN-BANNER.jpg);              
        height: 20em;         
        object-fit:cover;
        background-position: 50%;       
        opacity: 0.90;        
        
        .text-banner{
            h3,h2{
                color: #f3f3f3;
            }
            h2{
                text-align: center;
            }
        }
        .btn-banner{
            position: absolute;
            bottom: 20%;
            left: 25%;
            right: 25%;
        }
    }
    
}

@media (max-width: 767px) {
    p {
        font-size: smaller;
        letter-spacing: 1px;
        margin: 1rem 1rem 1rem 2rem;
    }
}
